<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title>qTiest | Where all the cute things are</title>
	<%= stylesheet_link_tag "base", "uploadify" %>
	
	<script type="text/javascript" src="/javascripts/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="/javascripts/swfobject.js"></script>
	<script type="text/javascript" src="/javascripts/jquery.uploadify.v2.1.0.min.js"></script>
	<script type="text/javascript" src="/javascripts/application.js"></script>
</head>

<body>
	
	<%= yield %>
</body>
</html>